<!DOCTYPE html>
<head>
 <link rel="stylesheet" href="../assets/stylesheets/welcome.scss" type="text/css">

</head>
<body>
<div class="welcome-outer"><div class="welcome">
<center>
<%= image_tag("burger.png", :alt => "burgah") %>
<%= image_tag("hotdog.png", :alt => "hotdog") %>
<%= image_tag("pizza.png", :alt => "pizza") %>
<%= image_tag("taco.png", :alt => "taco") %>
<%= image_tag("yum.png", :alt => "yum") %>
<br>
<%= link_to "reservester", "/pages/home" %></p>
</center>
</div></div>
</body>
</html> 
